.task {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    padding: 1rem;
}

.task + .task {
    margin-top: 0.75rem;
}

.task span {
    flex: 1;
    color: var(--gray-100);
    line-height: 1.4;
    font-size: 0.875rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--blue);
    transition: background-color 0.2s;
} 

.checkboxChecked {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    transition: background-color 0.2s, border 0.2s;
}

.checkbox > svg {
    visibility: hidden;
}

.checkboxChecked > svg {
    visibility: visible;
}

.checkbox:hover {
    background-color: rgba(30, 111, 159, 0.2);
}

.checkboxChecked:hover {
    background-color: var(--purple);
    border: 2px solid var(--purple);
}

.task input[type="checkbox"] {
    display: none;
}

.checkboxChecked + span {
    text-decoration: line-through;
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 4px;
    padding: 5px 4px 4px 4px;
  
    transition: 0.2s background-color;    
}

.task button:hover {
    background: var(--gray-400);
    color: var(--danger);
}