.containerApp {
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.createTask {
    display: flex;
    gap: 0.5rem;

    flex: 1;
    justify-content: space-between;
    transform: translateY(-50%);
}

